<h1>Welcome to Kwetter</h1>
<div class="search-bar">
  <form #searchForm class="search-form">
    <mat-form-field class="search-field">
      <input [(ngModel)]="searchQuery" name="search" matInput placeholder="Search">
    </mat-form-field>
    <button (click)='search()' mat-stroked-button>Search</button>
  </form>
  <mat-divider></mat-divider>
</div>
<div *ngIf="authService.isAuthenticated() else noAccount">
  <h3>Your timeline</h3>
  <div *ngIf="tweets && favoriteService.favorites !== null else loading">
    <mat-card class="tweet-card" *ngFor="let tweet of tweets">
      <mat-card-subtitle>
        Getweet door: {{tweet.authorUuid}}
      </mat-card-subtitle>
      <mat-card-content>
        <p>{{tweet.content}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="addFavorite(tweet.uuid)" mat-icon-button>
          <mat-icon *ngIf="!favoriteService.isFavorite(tweet.uuid)">favorite_border</mat-icon>
          <mat-icon *ngIf="favoriteService.isFavorite(tweet.uuid)">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<ng-template #noAccount>
  <h3>You're currently not logged in, log in to see your timeline</h3>
</ng-template>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
