<h1>All users</h1>

<div class="search-bar">
  <form #searchForm class="search-form">
    <mat-form-field class="search-field">
      <input (input)="search()" [(ngModel)]='searchQuery' [ngModelOptions]="{standalone: true}" matInput
             placeholder="Search">
    </mat-form-field>
  </form>
  <mat-divider></mat-divider>
</div>
<mat-divider></mat-divider>
<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>{{user.username}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item> {{user.description}} </mat-list-item>
      <mat-list-item> {{user.location}} </mat-list-item>
      <mat-list-item>
        <div class="action-button-container">
          <a mat-stroked-button routerLink="/profile/{{user.uuid}}">Profile</a>
          <a *ngIf="authService.currentUser.following.indexOf(user.uuid) === -1" mat-stroked-button (click)="followUser(user.uuid)"> Follow</a>
          <a *ngIf="authService.currentUser.following.indexOf(user.uuid) !== -1" mat-stroked-button (click)="followUser(user.uuid)"> Unfollow</a>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
