<mat-card>
  <mat-card-title>Login</mat-card-title>
  <form class="login-container">
    <mat-form-field>
      <input matInput type="text" required placeholder="username" [(ngModel)]="user.username" name="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" required placeholder="password" [(ngModel)]="user.password" name="password">
    </mat-form-field>
    <button mat-raised-button (click)="login()" type="submit" color="primary">Login</button>
  </form>
</mat-card>
