.login-container {
  display: flex;
  flex-direction: column;
}

.profile-container {
  max-width: 40rem;
  margin: auto;
}

.tweet-card {
  max-width: 20rem;
  margin: 1rem;
}


.follow-container {
  margin: auto;
  max-width: 20rem;
}
